@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #0C2D48;
}

.bl-header {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    background: #0C2D48;
    color: white;
    border-top: solid 3pt #00000D;
    border-bottom: solid 3pt #00000D;
    font-size: 22px;
}

/* Navbar styling */
.bl-nav {
    display: inline;
}

.bl-nav ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.bl-nav li {
    display: inline-block;
}

.bl-nav li a {
    text-decoration: none;
    display: block;
    padding: 8px;
    color: #B1D4E0;
    background-color: #0C2D48;
}

.bl-nav li #active-item {
    background-color: #2E8BC0;
    font-weight: bold;
    color: white;
}

/* General inputs */
.bl-generalinput {
    border-radius: 5px;
    border: solid 1pt #00000D;
    background-color: #145DA0;
    color: white;
}

.bl-generalfileinput::file-selector-button {
    border-radius: 5px;
    background-color: #145DA0;
    border: solid 1pt #00000D;
    color: #B1D4E0;
}

.bl-generalfileinput {
    color: white;
}

/* Form styling */
.bl-form {
    padding: 20px;
    background-color: #0C2D48;
}

.bl-form label {
    text-align: left;
    color: #B1D4E0;
}

.bl-forminput {
    border-radius: 5px;
    border: solid 1pt #00000D;
    background-color: #145DA0;
    color: white;
}

.bl-formbutton {
    color: #B1D4E0;
    border-radius: 5px;
    background-color: #145DA0;
    border: solid 1pt #00000D;
}

.bl-formfileinput::file-selector-button {
    border-radius: 5px;
    background-color: #145DA0;
    border: solid 1pt #00000D;
    color: #B1D4E0;
}

.bl-formfileinput {
    color: white;
}

.bl-formtext {
    width:200px;
    height:60px;
    border-radius: 5px;
    border: solid 1pt #00000D;
    background-color: #145DA0;
    color: white;
}

.bl-form fieldset {
    padding: 20px;
    border: solid 1.5pt #00000D;
}

.bl-form legend {
    color: #B1D4E0;
}

/* Image previews */
.imagepreview {
    display: flex;
    flex-direction: column;
    min-height: 25px;
    min-width: 25px;
    max-width:250px;
    color: #B1D4E0;
    border-radius: 5px;
    background-color: #145DA0;
    border: solid 1pt #00000D;
    margin: 10px;
}

.imagepreviewdisplay {
    display: none;
    width: 100%;
}

.imagepreviewbutton {
    color: #B1D4E0;
    border-radius: 5px;
    background-color: #145DA0;
    border: none;
    text-align: center;
    font-size: 10px;
    width: 25px;
    height: 25px;
    position: absolute;
}

.grid-container {
    display: grid;
    grid-template-columns: 500px 500px;
    padding: 10px;
    row-gap: 1em;
}

.grid-container-inner {
    display: grid;
    grid-template-columns: 150px 250px;
    padding: 10px;
    row-gap: 1em;
}


/* Table styling */
.bl-table {
    background-color: #0C2D48;
}

.bl-table th {
    background-color: #0C2D48;
    color: #B1D4E0;
}

.bl-table td {
    background-color: #0C2D48;
    padding: 10px;
    color: white;
}

.bl-table #imgcol {
    width: 250px;
}

.bl-button {
    color: #B1D4E0;
    border-radius: 5px;
    background-color: #145DA0;
    border: solid 1pt #00000D;
}

#user-books-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem;
}

.user-book-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #80bfff;
    box-shadow: 0 1px 4px #0073e6;
    margin: 30px;
    width: 300px;
    height: 630px;
    padding: 20px;
    border-radius: 5px;
}

.user-book-title-container {
    justify-items: center;
}

.title-text{
    color: floralwhite;
    font-size: 1.4rem;
    padding: 6px;
    text-align: center;
}

.user-picture-container img {
    height: 400px;
    width: 100%;
    border-radius: 1em;
}

.quantity-input-container {
    color: cornsilk;
    padding: 10px;
}

.quantity-input-container input {
    width: 50px;
}

.filter-bar {
    display: flex;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    box-sizing: border-box;
}

.filter-box {
    text-align: center;
    align-items: center;
    height: 80px;
}

.user-filter-button {
    align-items: center;
    text-align: center;
}

.filter-box p {
    color: cornsilk;
    font-weight: bold;
}

.filter-input-container {
    display: flex;
    gap: 8px;
}

.add-to-cart-button {
    padding: 5px;
    background-color: cornflowerblue;
    font-weight: bolder;
    font-size: 18px;
    width: 100%;
    justify-self: flex-end;
    border-radius: 0.2em;
    cursor: pointer
}
.tableview {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.tableview td, th {
    text-align: center;
}

.desc-col {
    width: 120px;
}

.filter-row {
    align-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}

.notfound {
    color: white;
    font-size: 16pt;
}
.item-card {
    /* Add shadows to create the "card" effect */
    width: 300px;
    background-color: #0C2D48;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 5px;
}

.item-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
    width: 100%;
    background-color: #0C2D48;
    color: white;
    padding: 4px 16px;
}

.cart-content {
    width: 100%;
    background-color: #0C2D48;
    color: white;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 25px 50px;
    margin-bottom: 5px;
}

.item-card-img {
    width: 300px;
    height: 400px;
}

/* Alerts */
.alert-box {
    display: none;
    width: 100%;
    height: 80px;
    background-color: #0C2D48;
    color: white;
}

.alert-content {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: inherit;
}

.alert-text {
    color: inherit;
}