<!DOCTYPE html>
<html>
<head>
    <title>FakeAmazonBookstore - Owner Inventory</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/storeAdmin.js}"></script>
</head>
<body>
    <header class="bl-header">
        <h1>FakeAmazonBookstore - Bookstore Administrator - Inventory</h1>
    </header>
    <nav class="bl-nav">
        <ul>
            <li><a id="active-item" href="/owner">Home</a></li>
            <li><a href="/owner/upload">Upload</a></li>
        </ul>
    </nav>
    <table class="bl-table" id="booksTable">
        <tr><th>id</th><th>name</th><th>quantity</th><th>increment</th><th>isbn</th><th id="imgcol">picture</th><th>description</th><th>publisher</th></tr>
        <tr>
            <td></td>
            <td>
                <input id="nameFilter" class="filter bl-generalinput">
            </td>
            <td></td>
            <td></td>
            <td>
                <input id="isbnFilter" class="filter bl-generalinput">
            </td>
            <td></td>
            <td>
                <input id="descriptionFilter" class="filter bl-generalinput">
            </td>
            <td>
                <input id="publisherFilter" class="filter bl-generalinput">
            </td>
        </tr>
    </table>

    <div class="content-div">
        <p id="alert" class="notfound">No books found!</p>
        <button class="bl-button" id ="saveButton">save</button>
        <button class="bl-button" id="prevButton">prev</button>
        <button class="bl-button" id="nextButton">next</button>
    </div>
</body>
</html>