<!DOCTYPE html>
<html>
<head>
    <title>FakeAmazonBookstore - Owner Inventory</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/storeAdmin.js}"></script>
</head>
<body>
    <header class="bl-header">
        <h1>FakeAmazonBookstore - Bookstore Administrator - Inventory</h1>
    </header>
    <nav>
        <ul>
            <a href="/owner">Home</a>
            <a href="/owner/upload">Upload</a>
        </ul>
    </nav>
    <table class="bl-table" id="booksTable">
    </table>
</body>
</html>