<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FakeAmazonBookstore - Owner Upload</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="module" th:src="@{/js/edit.js}"></script>
</head>
<body>
<header class="bl-header">
    <h1>FakeAmazonBookstore - Bookstore Administrator - Book Edit</h1>
</header>
<nav class="bl-nav">
    <ul>
        <li><a href="/owner">Home</a></li>
        <li><a id="active-item" href="/owner/upload">Upload</a></li>
    </ul>
</nav>
<form name="editBook" id="editBook" class="bl-form" action="">
    <fieldset>
        <legend>Edit Book </legend>
        <div class="grid-container">
            <div>
                <div class="grid-container-inner">
                    <div class="grid-item">
                        <label> Book ID: </label>
                    </div>
                    <div class="grid-item">
                        <label id="bookId" th:disabled="true" th:text="${targetBook.getId()}" />
                    </div>
                    <div class="grid-item">
                        <label for="bookname">Name: </label>
                    </div>
                    <div class="grid-item">
                        <input type="text" name="name" id="bookname" th:value="${targetBook.getName()}"/>
                    </div>
                    <div class="grid-item">
                        <label for="bookisbn">ISBN: </label>
                    </div>
                    <div class="grid-item">
                        <input type="text" name="isbn" id="bookisbn" th:value="${targetBook.getIsbn()}"/><br />
                    </div>
                    <div class="grid-item">
                        <label for="bookpublisher">Publisher: </label>
                    </div>
                    <div class="grid-item">
                        <input type="text" name="publisher" id="bookpublisher" th:value="${targetBook.getPublisher()}"/><br />
                    </div>
                    <div class="grid-item">
                        <label for="bookdescription">Description: </label><br />
                    </div>
                    <div class="grid-item">
                        <textarea name="description" id="bookdescription" th:text="${targetBook.getDescription()}"></textarea><br />
                    </div>
                    <div class="grid-item">
                        <label for="bookimage">Image: </label>
                    </div>
                    <div class="grid-item">
                        <input type="file" name="image" id="bookimage" accept="image/png, image/jpeg" th:value="${targetBook.getPicture()}"/><br />
                    </div>
                </div>
                    <input type="submit" />
            </div>
            <div class="grid-item">
                <label >Preview: </label><br />
                <img id="imagepreview" th:src="${targetBook.getPicture()}"><br />
            </div>
        </div>
    </fieldset>
</form>
</body>
</html>