<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FakeAmazonBookstore - Welcome!</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
<header class="bl-header">
    <h1>FakeAmazonBookstore - Landing Page</h1>
</header>
<nav class="bl-nav">
    <ul>
        <li><a href="/owner">Owner Home</a></li>
        <li><a href="/user">User Home</a></li>
        <li sec:authorize="isAnonymous()"><a href="/login">Login</a></li>
        <li sec:authorize="isAnonymous()"><a href="/user/registration">Register</a></li>
        <li sec:authorize="isAuthenticated()"><a href="/logout">Logout</a></li>
        <li style="color: white" sec:authorize="isAuthenticated()">Welcome, <span sec:authentication="name"></span>.</li>
    </ul>
</nav>
<div>
    <p class="notfound">Welcome to the amazon bookstore!</p>
</div>
</body>
</html>